{% extends "base.html" %}

{% block title %} OffMyChest - A place to Share and Connect {% endblock %}

{% block content %}

<main>
    <section>
        <h2>Popular Posts</h2>
        <div 
            style="
                display: grid; 
                grid-template-columns: 1fr 1fr; 
                grid-template-rows: auto; 
                column-gap: 2rem; 
                row-gap: 1rem; 
                padding: 10px;"
        >
            {% for post in popular_posts %}
            <div class="post" style="border: solid 1px rgba(0, 0, 0, .12); border-width: 1px 0 1px 0; padding: 1rem;">
                <span style="background-color: burlywood; padding: 2px;">{{ post.category.name }}</span>
                <h3><a href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h3>
                <p>{{ post.content }}</p>
                <p>by {{ post.user.username }}</p>
                <p>{{ post.created_at }}</p>
            </div>
            {% endfor %}
        </div>
        <!-- Add more featured posts here -->
    </section>
    <section>
        <h2>Recent Posts</h2>
        <div 
            style="
                display: grid; 
                grid-template-columns: 1fr 1fr; 
                grid-template-rows: auto; 
                column-gap: 2rem; 
                row-gap: 1rem; 
                padding: 10px;"
        >
            {% for post in recent_posts %}
            <div class="post" style="border: solid 1px rgba(0, 0, 0, .12); border-width: 1px 0 1px 0; padding: 1rem;">
                <span style="background-color: burlywood; padding: 2px;">{{ post.category.name }}</span>
                <h3><a href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h3>
                <p>{{ post.content }}</p>
                <p class="meta">{{ post.created_at }}</p>
            </div>
            {% endfor %}
        </div>
    
    </section>
</main>
<footer>
    <p>&copy; 2023 Off My Chest</p>
</footer>

{% endblock %}
