{% extends "base.html" %}

{% block title %} Login - OffMyChest {% endblock %}


{% block content %}


<div style="flex: 1; display: flex; flex-direction: column; align-items: center;">
        {% for message in get_flashed_messages() %}
            {{ message }}
        {% endfor %}
        <h2>Login</h2>
        <form method="post" style="display: flex; flex-direction: column; justify-content: center; min-width: 300px;">
            {{ form.hidden_tag() }}    

            {{ form.username.label }}
            {{ form.username }}
            <br />


            {{ form.password.label }}
            {{ form.password }}
            <br />

            {{ form.submit(style="height: 32px;") }}
        </form>
    </div>
{% endblock %}